/* RESET DEAFULT CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f1f1f1; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container .cardProfile .imgBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container .cardProfile .slideBox {
    width: 300px;
    height: 200px;
    transition: 0.25s;
}
/* TOP BOX CSS */
.container .cardProfile .slideBox.slideTopBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .5s;
    transform: translateY(100px);
}

.container .cardProfile:hover .slideBox.slideTopBox{
    transform: translateY(0px);
}
/* BOTTOM BOX CSS */
.container .cardProfile .slideBox.slideBottomBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px) scale(0.1);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
/* BOTTOM BOX ANIMATION */
.container .cardProfile:hover .slideBox.slideBottomBox{
    transform: translateY(0);
    scale: 1;
}
.container .cardProfile .slideBox.slideBottomBox::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #000000;
}
.container .cardProfile .slideBox.slideBottomBox .contentBox h3 {
    font-family: cursive;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin: 0 0 5px 0;
} 
.container .cardProfile .slideBox.slideBottomBox .contentBox p {
    margin: 0px 0 10px 0;
    padding: 0;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    width: 100%;
    color: #414141;
}
.container .cardProfile .slideBox.slideBottomBox .contentBox span{
    font-size: 12px;
    text-align: center;
    display: block;
    font-weight: thin;
    color: #000;
    margin: 0;
}
